<div class="jumbotron">
  <h1>Lists Unlimited</h1>
  <p>One place for all the lists you need: honey do, grocery, lists of things not to do, lists of lists...</p>
  <%= link_to "Sign Up", "#", class:"btn btn-primary btn-lg" %>
</div>